/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  */

/* DEBUG */
.db {
    border: 1px dashed black;
}
/*  */

/* TYPOGRAPHY */
body {
    font-family: "PT Sans", sans-serif; 
}

.card h4 {
    font-size: 17px;
}

.txt-center {
    text-align: center;
}

/*  */

/* BUTTONS */
.btn {
    font-size: 16px;
    font-family: "PT Sans", sans-serif; 
}

.btn-primary {
    padding: 6px 40px;
    border-radius: 20px;
    border: none;
}

.btn-secondary {
    padding: 6px 12px;
    border-radius: 20px;
    border: none;
}


/*  */

/* COLORS */
/* background color */
.bg-blue {
    background-color: #0084FD;
}

.bg-white {
    background-color: white;
}

/* font color */
.color-blue {
    color: #0084FD;
}

.color-white {
    color: white;
}

.color-gray {
    color: #5A6E7F;
}

.color-black {
    color: black;
}


/* GENERAL */
.container {
    max-width:1170px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.col {
    padding: 0 15px;
    display: flex;
}

/* COMMON */

img {
    max-width: 100%;
}

.card {
    padding: 28px 22px 28px 22px;
}

.card h4 {
    margin-bottom: 32px;
}

.card-type-1 p {
    margin-bottom:32px; 
}


/*  */

/* SECTION INTRO */

#intro .col {
    width: calc(100% / 3);
    margin-bottom: 20px;
    display: flex;
    
}

#intro .col-big {
    display: flex;
    flex-grow: 1;
}


#intro .card {
    background-color: #B5DDFF;
 } 

 .card-type-1 {
    border-radius: 18px 0 0 18px;
 }

 .card-type-2 {
    border-radius: 18px;
 }



.col-50 {
    width: 50%;
}

#intro h4 {
    color: #0084FD;
}

#intro p {
    color: #5A6E7F ;
    font-weight: bold;
}

#intro i{
   padding-right: 8px; 
}

 #intro .col-50-left {
    display: flex;
}

#intro .col-50-right {
    display: flex;
    align-items: flex-end;
    background-color: #B5DDFF; 
   border-radius:0 18px 18px 0; 
 }

#intro .col-50-right img {
    max-width: 70%;
}

.card i.icon {
    font-size:80px;
    margin-bottom: 32px;
}

/*/  */

/* HEADER */

header li {
    list-style: none;
}

header .col.col-header {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

header .head-left {
    width: 40%;
    display: flex;
    align-items: center;
}
header .head-right {
    width: 60%;
    display: flex;
    justify-content: end;
    align-items: center;
}

header .head-right ul {
    display: flex;
}

header nav li {
    margin-right: 20px;
}

header .head-right .btn {
    display: flex;
}

header nav .hamburger {
    display: block;
    margin-left: 20px;
    display: none;
}

header {
    color: white;
}

/*/  */







/* RESPONSIVE */

/* max-width 992px */
@media screen and (max-width: 992px) {
    #intro .col-big {
        flex-wrap: wrap;
    }
    #intro .col-50-left, #intro .col-50-right {
        width: 100%;
    }

    #intro .col-50-right img {
        max-width: 36%;
    }

    .card-type-1 {
        border-radius: 18px 18px 0 0;
    }

    #intro .col-50-right {
        border-radius: 0 0 18px 18px;
    }

}

/*  */

/* max width 768px */
@media screen and (max-width: 768px){
    #intro .col {
        width: 100%;
    }

    #intro .col-50-right {
        justify-content: center;
    }

}



/*  */