/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  */

/* DEBUG */
.db {
    border: 1px dashed black;
}
/*  */

/* TYPOGRAPHY */
body {
    font-family: "PT Sans", sans-serif; 
}

main {
    line-height: 1.5;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 20px;
}

.card h4 {
    font-size: 17px;
}

p {
    font-size: 15px;
}

.txt-center {
    text-align: center;
}

.font-italic {
    font-style: italic;
}

/*  */

/* BUTTONS */
.btn {
    font-size: 16px;
    font-family: "PT Sans", sans-serif; 
    cursor: pointer;
}

.btn-primary {
    padding: 6px 40px;
    border-radius: 20px;
    border: none;
}

.btn-secondary {
    padding: 6px 12px;
    border-radius: 20px;
    border: none;
}

.btn-circle {
    border: none;
    border-radius: 50px;
    padding: 10px 15px;
}

/*  */

/* COLORS */
/* background color */
.bg-blue {
    background-color: #0084FD;
}

.bg-white {
    background-color: white;
}

.bg-purple {
    background-color: #9792E4;
}

/* font color */
.color-blue {
    color: #0084FD;
}

.color-white {
    color: white;
}

.color-gray {
    color: #5A6E7F;
}

.color-black {
    color: black;
}

.color-purple {
    color: #9792E4;
}


/* GENERAL */
.container {
    max-width:1170px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.col {
    padding: 0 15px;
    display: flex;
}

/* COMMON */

img {
    max-width: 100%;
}

/* CARD */

.card {
    padding: 28px 22px 28px 22px;
}

.card h4 {
    margin-bottom: 32px;
}

.card-type-1 p, .card-type-3 p {
    margin-bottom:32px; 
}

.card-type-5 {
    border-radius: 14px;  
}

/*  */

/*  */

/* SECTION INTRO */

#intro{
    padding-top: 50px;
    padding-bottom: 90px;
}


#intro .col {
    width: calc(100% / 3);
    margin-bottom: 20px;
    display: flex;
    
}

#intro .col-big {
    display: flex;
    flex-grow: 1;
}


#intro .card {
    background-color: #B5DDFF;
 } 

 .card-type-1 {
    border-radius: 18px 0 0 18px;
 }

 .card-type-2 {
    border-radius: 18px;
 }

 .card-type-3 {
    border-radius: 30px;
 }

.card-type-4 {
    border-radius: 30px;
 }

 


.col-50 {
    width: 50%;
}

#intro h4 {
    color: #0084FD;
}

#intro p {
    color: #5A6E7F ;
    font-weight: bold;
}

#intro i{
   padding-right: 8px; 
}

 #intro .col-50-left {
    display: flex;
}

#intro .col-50-right {
    display: flex;
    align-items: flex-end;
    background-color: #B5DDFF; 
   border-radius:0 18px 18px 0; 
 }

#intro .col-50-right img {
    max-width: 70%;
}

.card i.icon {
    font-size:80px;
    margin-bottom: 32px;
}

/*/  */

/* HEADER */

header li {
    list-style: none;
}

header .col.col-header {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

header .head-left {
    width: 40%;
    display: flex;
    align-items: center;
}
header .head-right {
    width: 60%;
    display: flex;
    justify-content: end;
    align-items: center;
}

header .head-right ul {
    display: flex;
}

header nav li {
    margin-right: 20px;
}

header .head-right .btn {
    display: flex;
}

header nav .hamburger {
    display: block;
    margin-left: 20px;
    display: none;
    font-size: 20px;
    cursor: pointer;
}

header {
    color: white;
}

header a {
    color: white;
    text-decoration: none;
}

/*/  */

/* SECTION PLANNING */
#planning {
    background-color: #9792E4;
    padding-top: 120px;
    padding-bottom: 60px;
}

#planning .col {
    width: calc(100% / 2);
    flex-direction: column;
}

#planning .col-align-end {
    justify-content: flex-end;
}


#planning h3 {
    margin-bottom:44px ;
}

#planning img.plan {
    margin-bottom: 110px;
}

#planning img.plan-two {
    margin-bottom: 20px;
    width: 80%;
}


/*  */

/* TESTIMONIALS */
#testimonials {
    padding-top: 66px;
    padding-bottom: 52px;
}

#testimonials .col{
    display: block;
    width: 100%;
}


#testimonials .card {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}


#testimonials .card.last{
    margin-bottom: 0px;
}

#testimonials .circle-image{
    width: 200px;
    height: 200px;
    border-radius:50% ;
    margin-right: 20px;
}

#testimonials span.name{
    margin-top:20px;
    display: inline-block;
    font-weight: bold;
}

#testimonials .up-title{
    margin-bottom: 32px;
    font-weight: 100;
}

#testimonials .main-title {
    margin-bottom: 50px;
}

#testimonials .description {
    margin-bottom: 50px;

}

/* / */

/* BENEFITS  */

#benefits {
    background-color: #9792E4;
    padding-top: 70px;
    padding-bottom: 30px;
}

#benefits .col {
    width: calc(100% / 3);
    margin-bottom: 20px;
}

#benefits .title {
    margin-bottom:56px ;
}

#benefits .card-type-5 {
    padding: 40px 30px 30px 30px;
}

#benefits .card-type-5 .number {
    margin-bottom:28px ;
}
#benefits .card-type-5 .card-small-title {
    margin-bottom:28px ;
}

#benefits .card-type-5 .description {
    margin-bottom: 28px;
}

#benefits .card-type-5 .card-title {
    font-size: 53px;
}

/* / */

/* ABOUT */

#about {
    padding-top: 60px;
    padding-bottom: 106px;
}

#about .col-70 {
    width: 70%;
}

#about .col-30 {
    width: 30%;
}

#about .circle-image{
    width: 200px;
    height: 200px;
    border-radius:50%;
    display: block;
    margin: 0 auto 30px auto;
}

#about .col-70 .card > .title {
    margin-bottom: 45px;
    font-size: 58px;
}

#about .col-70 .card > .description{
    margin-bottom: 60px;
}

#about .col-30 .card > .description {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
}

#about .butt-icon {
    margin-right: 10px;
}

#about .image-box {
    position: relative;
}

#about .over-image {
    position: absolute;
    top: 0;
    right: 15px;
    font-size:58px;
}


/*/  */









/* RESPONSIVE */

/* max-width 992px */
@media screen and (max-width: 992px) {
    #intro .col-big {
        flex-wrap: wrap;
    }
    #intro .col-50-left, #intro .col-50-right {
        width: 100%;
    }

    #intro .col-50-right img {
        max-width: 36%;
    }

    .card-type-1 {
        border-radius: 18px 18px 0 0;
    }

    #intro .col-50-right {
        border-radius: 0 0 18px 18px;
    }

    header nav .hamburger {
        display: block;
    }

    header .head-right ul, header .head-right .btn {
        display: none;
    }

    #planning .col {
        width: 100%;
    }

    #planning .col-align-end {
        padding-top: 30px;
    }

    #benefits .col {
        width: 50%;
    }



}

/*  */

/* max width 768px */
@media screen and (max-width: 768px){
    #intro .col {
        width: 100%;
    }

    #intro .col-50-right {
        justify-content: center;
    }

    #testimonials .card {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    #benefits .col {
        width: 100%;
    }

    #about .col-70, #about .col-30 {
        width: 100%;
    }

    #about .circle-image {
        margin: 0 0 30px 0;
    }

    #about .over-image {
        left: 143px;
        top: 0;
    }


}



/*  */